h1{
	font-family: Arial; 
	font-weight: bold;
	background-color: #699FC5;
    border: 2px solid;   
    border-color: #A6C9E3;
    color: black;    
    text-align: center;    
    font-size: 25px;
}

h2{
	font-weight: bold;
}

body {
	font-family: Century;
	font-size: 15px;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #699FC5;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:2px;
    border:1px solid white;
    background-color:black;
    max-height: 500px;
    max-width: 550px;
}

#images{
	test-align: center;
	width: 50%;
	float: left; 
}

.tab { margin-left: 40px; }

.subheaders{
	font-weight: bold;
}

.timeline{
	font-style: italic;
}

.author{
	text-align: center; 
	font-weight: bold;
}